language: node_js
script: npm test
node_js:
- '5.5'
services:
- mongodb
after_script:
- npm run coverage
- codeclimate-test-reporter < coverage/lcov.info
deploy:
  provider: modulus
  api_key:
    secure: APCqNnTyAFLnw38OZa//AgmSW4qieEIFsnHs6KISUZT4bxEgE2//fkwNJXKo/xmEtWhfhsbtlIOsKXErATRaJYC0Lh8Wr9EwjPb37V+/rfZBwsx3Y9/H6t0ZxzFARxifFBcqTM1Jp3FbyT1Ec7KWdPUgDx86z95KHwTXZQMZjV6VmLaunRNjR5o380sFym7WxIlVRjVrkvO33uynUCuKA2/lPirtfqEA4diKIAYVlhUUXTPvhZB0Umno0Mz21pnzuKy+PWHLmlWPfi8WGOOQRBoe3Lr0KSKBfMAYH3pFJVwdgbZSkcZ9QLGkQ0oYsik+CuozL3b/HHLbeNbwcRoTIHQWHOl7YziLZus0oBc54pG9hFD+z3h+geQzGHg1Al+Y0mNVGXRNU7u6O1HHI07M4RWyFcNiaL0sF/iERVgZQHsJaes1CwvtN4nn9ewtGGt56QKFpYtC7EehlEFZ2FOpPKmzfk+nP8w7QPds7E0uNE9QlpD4+k6RIFicqZDJBbeloj9pTQQGlogh7SAvXLtbu+/AEnHrFZ82Z9Cq+fAQrtZskMpqb3u8fshQIY6YDNq6wMNsxhlRdrWYqycRHfr6QUdXtUWsiomH9ZG264+gQ70VDM1MuwEa3IoUp9mgejwC/VCSPBoJwR7VpwvuoaJv8iB1SmS6ayv9DFzrqkDKnhE=
  project_name: j4n.io
